
@model IEnumerable<WebsiteBanHang.Models.GioHang>
@using WebsiteBanHang.Models;
@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DatHang</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mahang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenhang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giaban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isoluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dthanhtien)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.mahang)</td>
            <td> @Html.DisplayFor(modelItem => item.tenhang)</td>
            <td> <img src="@item.hinh" width="180" /></td>

            @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @id = item.mahang }))
            {
                <td> @Html.DisplayFor(modelItem => item.giaban)</td>
                <td> @Html.DisplayFor(modelItem => item.isoluong)</td>
                <td> @Html.DisplayFor(modelItem => item.dthanhtien)</td>

            }
        </tr>
    }
    <tr style="font-weight:bold; text-align:right; color:red">
        <td colspan="3"> Số loại sách: @ViewBag.TongSoLuongSanPham</td>
        <td colspan="4"> Số lượng sách: @ViewBag.TongSoLuong</td>
        <td colspan="5"> Tổng tiền: @String.Format("{0:0,0}", ViewBag.TongTien) VND</td>
    </tr>

    <tr style="font-weight:bold; color: blue; text-align: right">
        <td colspan="6"> @Html.ActionLink("Trở về giỏ hàng", "GioHang", "GioHang")</td>
    </tr>




</table>
<h2 style="text-align: center"> Thông tin đặt hàng</h2>
@{
    KhachHang kh = (KhachHang)Session["Taikhoan"];
}
<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td>Ho ten: </td>
            <td style="font-weight:bold">@kh.hoten</td>
        </tr>
        <tr style="height:40px">
            <td>Email: </td>
            <td style="font-weight:bold">@kh.email</td>
        </tr>
        <tr style="height:40px">
            <td>Dia chi: </td>
            <td style="font-weight:bold">@kh.diachi</td>
        </tr>
        <tr style="height:40px">
            <td>Dien thoai: </td>
            <td style="font-weight:bold">@kh.dienthoai</td>
        </tr>
        <tr style="height:40px">
            <td>ngay dat: </td>
            <td style="font-weight:bold">@DateTime.Now.ToShortDateString()</td>
        </tr>
        <tr style="height:40px">
            <td>Ngay giao: </td>
            <td style="font-weight:bold">
                <input type="date" name="NgayGiao" />
            </td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td style="font-weight:bold">
                <input type="submit" value="Xac nhan" class="btn btn-success" />
            </td>
        </tr>
    }
</table>

